$light: #DDDDDD;
$dark: #012014;
$login-placeholder: #5D7C70;
$login-input-text: #ACBCB6;
$main-bg: #dde4ed;
$main-red: #EA6464;
$main-dark: #01321f;
$list-text: #9EB1C7;
$main-color-2: #05f296;
$contact-info-phone: #343D54;
$bg-color-transparent-2: rgba(0, 0, 0, 0.2);