$app-max-width: 1050px;
$app-min-width: 950px;
$app-min-height: 580px;
$tab-bar-width: 60px;
$left-side-margin: 4px;
$left-side-width: 375px;
$right-settings-width: 520px;
$right-side-width: calc(100% - #{$tab-bar-width + $left-side-width + 2 * $left-side-margin});
$left-header-height: 52px;
$left-header-margin: 2px;
$footer-height: 65px;
$left-list-height: calc(100% - #{$left-header-height + $left-header-margin});
$gallery-list-height: calc(100% - #{2*$left-header-height + 2*$left-header-margin});
$messages-wrapper: calc(100% - #{$left-header-height + $footer-height + 2*$left-header-margin});
$recent-left-padding: 20px;
$right-avatar-part-height: 168px;
$chat-font-size: 15px;
$login-height: 114px;
$login-max-width: 970px;
$login-min-width: 500px;
$login-register-padding: 25px;
$forward-search-height: 50px;
$add-field-popup-width: 315px;
